@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.Slider{
	width: 85%;
	margin-top: 15px;
}
.slick-arrow{
	//background-color: gray;
	color: black;
}
.slick-arrow:hover{
	color: black;
	//background-color: gray;
}

@media (min-width: 1250px) and (max-width: 1920px) {
	.slider-container {
	  display: none;
	}
 }