@import "../../styles/variables.scss";

.FisrtSearchCity {
  margin: 50px 15px 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.firstSearch_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  height: 300px;

  margin: 0 auto;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: var(--components-background-default);
}
.firstSearch_title {
  color: var(--text-color-default);
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.firstSearch_input {
  font-size: 18px;
  input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    @media (max-width: 290px) {
     width: 143px;
    }
  }
}

.searchButton {
  margin-top: 15px;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  background: #4793ff;
  background-color: rgb(134, 176, 234);
  color: var(--text-color-default);
}

.FisrtSearchCity_message {
  margin-top: 10px;
  font-size: 21px;
  color: red;
}
