.Header {
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}
.Header_Logo {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 375px) {
    gap: 10px;
  }
}
.Search_City {
  display: flex;
  gap: 15px;
  align-items: center;
  @media (max-width: 375px) {
    gap: 10px;
  }
}

.imgLogoHeader svg {
  @media (max-width: 400px) {
    width: 60px;
    height: 60px;
  }
  @media (max-width: 290px) {
    width: 50px;
    height: 50px;
  }
  @media (max-width: 240px) {
    width: 40px;
    height: 40px;
  }
}

.logoText {
  font-family: "Poppins";
  color: #4793ff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: 375px) {
    font-size: 20px;
  }
  @media (max-width: 240px) {
    font-size: 16px;
  }
}

.changeTheme {
  cursor: pointer;

  svg {
    @media (max-width: 240px) {
      width: 30px;
      height: 30px;
    }
  }
}
.Search_City_Input {
  @media (max-width: 480px) {
    display: none;
  }
  
}
.inputSearchCity {
  width: 140px;
  height: 37px;
  border-radius: 10px;
  padding-left: 10px;

  @media (max-width: 240px) {
    max-width: 200px;
    height: 30px;
  }
}
.Header_MobileInput {
  display: flex;
  justify-content: center;
  margin: 15px 15px 0 15px;

  .inputSearchCity {
    width: 300px;
  }
  @media (min-width: 481px) {
    display: none;
  }
}
