@import "../../styles/variables.scss";

.Cards {
  margin-top: 50px;
  @media (max-width: 580px) {
    width: 450px;
    margin: 0 auto;
  }

  @media (max-width: 480px) {
    min-width: 230px;
    max-width: 95%;
  }
}
.Cards_wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 15px;

  @media (max-width: 240px) {
    margin: 0;
  }
}
.cardsButtons {
  margin-bottom: 7px;
}
.FilterButtonDays {
  display: flex;
  justify-content: space-between;
}
.ButtonDays_days {
  display: flex;
  gap: 15px;

  @media (max-width: 900px) {
    gap: 5px;
  }
}
.ButtonDays_filterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 9px 21px;
  border-radius: 5px;
  background: var(--card-background-default);
  box-shadow: var(--card-shadow-default);
  cursor: pointer;

  @media (max-width: 900px) {
    padding: 10px 10px;
    font-size: 15px;
  }
  @media (max-width: 650px) {
    padding: 6px 6px;
    font-size: 15px;
  }
  @media (max-width: 240px) {
    padding: 0 3px;
    font-size: 12px;
  }
  @media (max-width: 335px) {
    padding: 0 3px;
    font-size: 13px;
  }
}
.ButtonDays_cancel {
  .ButtonDays_filterBtn {
    font-size: 17px;
    padding: 10px 15px;

    @media (max-width: 580px) {
      padding: 8px 8px;
    }

    @media (max-width: 240px) {
      padding: 6px 3px;
      font-size: 13px;
    }
    @media (max-width: 335px) {
      padding: 7px 4px;
      font-size: 15px;
    }
  }
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 9px 21px;
  border-radius: 5px;
  background: $primary-color;
  box-shadow: var(--card-shadow-default);
  cursor: pointer;

  @media (max-width: 900px) {
    padding: 13px 12px;
    font-size: 16px;
  }
  @media (max-width: 650px) {
    padding: 10px 10px;
  }
  @media (max-width: 240px) {
    padding: 6px 3px;
    font-size: 13px;
    font-weight: 550;
  }
  @media (max-width: 335px) {
    padding: 7px 4px;
    font-size: 15px;
    font-weight: 550;
  }
}
.Word_For {
  margin-right: 5px;

  @media (max-width: 480px) {
    display: none;
  }
}
.CardsWeek_wrapper_container {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 20px;

  @media (max-width: 480px) {
    padding: 20px 0 25px 0;
  }
  @media (max-width: 240px) {
    width: 230px;
    justify-content: center;
    padding: 10px 0 15px 0;
  }
}
.CardsWeek {
  border-radius: 0px 0px 20px 20px;
  background: var(--components-background-default);

  box-shadow: var(--card-shadow-default);

  //@media (max-width: 240px) {
  //  width: 230px;
  //}
  
}
.CardsItemDay {
  width: 149px;
  height: 200px;
  border-radius: 10px;
  background: var(--card-background-default);

  &:hover {
    cursor: pointer;
    box-shadow: var(--card-shadow-default);
  }

  @media (max-width: 480px) {
    width: 145px;
    height: 200px;
  }
  @media (max-width: 395px) {
    width: 125px;
    height: 200px;
  }
  @media (max-width: 345px) {
    width: 95px;
    height: 160px;
  }
  //@media (max-width: 240px) {
  //  width: 95px;
  //  height: 160px;
  //}
}
.CardsItemDay_content {
  padding: 11px 0 0 11px;
}

.CardsItemDay_day {
  color: var(--text-color-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-bottom: 7px;

  //@media (max-width: 240px) {
  //  font-size: 15px;
  //  margin-bottom: 3px;
  //}
  @media (max-width: 345px) {
    font-size: 15px;
    margin-bottom: 3px;
  }
}

.CardsItemDay_day_info {
  color: $base-color;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;

  //@media (max-width: 240px) {
  //  font-size: 13px;
  //  margin-bottom: 7px;
  //}
  @media (max-width: 345px) {
    font-size: 13px;
    margin-bottom: 7px;
  }
}
.CardsItemDay_img {
  width: 48px;
  height: 48px;
  margin-bottom: 13px;

  //@media (max-width: 240px) {
  //  width: 38px;
  //  height: 38px;
  //  margin-bottom: 7px;
  //}
  @media (max-width: 345px) {
    width: 38px;
    height: 38px;
    margin-bottom: 7px;
  }
}
.CardsItemDay_temp_day {
  color: var(--text-color-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  //@media (max-width: 240px) {
  //  font-size: 14px;
  //}
  @media (max-width: 345px) {
    font-size: 14px;
  }
}
.CardsItemDay_temp_night {
  color: $base-color;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;

  //@media (max-width: 240px) {
  //  font-size: 9px;
  //}
  @media (max-width: 345px) {
    font-size: 9px;
  }
}
.CardsItemDay_info {
  color: $base-color;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CardsItemDay_description {
  color: var(--text-color-default);
  font-size: 15px;
  font-style: normal;
  line-height: normal;

  //@media (max-width: 240px) {
  //  font-size: 11px;
  //}
  @media (max-width: 345px) {
    font-size: 11px;
  }
}
