.MainSection {
  margin-top: 30px;
}
.MainSection_container {
  max-width: 1200px;
  margin: 0 auto;
}
.MainSection_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  gap: 10px;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
